#postPublished {
  float: right;
}

.markdown h1 {
  font-size: x-large;
}

.markdown h2 {
  font-size: large;
}

.markdown h3 {
  font-size: medium;
}

.markdown h4 {
  font-size: small;
}

#editor {
  #title {
    font-size: x-large;
    width: 100%;
  }

  #subtitle {
    font-style: italic;
    width: 100%;
  }

  #postContent {
    width: 100%;
    resize: vertical;
  }

  #buttons {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 0.28rem;
    width: 100%;
    height: 3rem;
  }
}
