{%- import "macros.html.tera" as m -%}

<!DOCTYPE html>
<html>
  <head>
    {{ m::meta() }}
    <link rel="stylesheet" href="{{ self::p(p='/.blog3/assets/post.css') }}" />
    <title>{{ blog_title }} - {{ post.title }}</title>
  </head>
  <body>
    {{ m::post_body(post=post) }}
    <a href="{{ m::p(p='/') }}">home</a>
    {{ m::datetime() }}
  </body>
</html>
