:root {
  --bg-color: rgb(250, 255, 242);
  --border-color: rgb(30, 48, 21);
  --text-color: rgb(34, 55, 14);
  --link-color: rgb(30, 103, 8);
  --header-color: rgb(232, 249, 208);
}

body {
  color: var(--text-color);
}
a, a:visited {
  color: var(--link-color);
}
a:hover {
  background-color: var(--header-color);
}

#flexcontainer {
  display: flex;
  justify-content: center;
}
#flexinner {
  max-width: 95em;
  flex-basis: 100%;
}

.centerme {
  display: flex;
  justify-content: center;
}
